<?xml version="1.0"?>
<!--
/**
* A Magento 2 module named Magestat/CookieLawBanner
* Copyright (C) 2018 Magestat (http://magestat.com)
*
* This file included in Magestat/CookieLawBanner is licensed under OSL 3.0
*
* http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
* Please see LICENSE.txt for the full text of the OSL 3.0 license
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magestat_cookielawbanner>
            <general>
                <title>Cookies Control</title>
                <message>We use cookies to ensure that we give you the best experience on our website. If you continue to use this site we will assume that you are happy with it.</message>
                <text>More info</text>
                <link>/privacy-policy-cookie-restriction-mode</link>
                <button>Accept</button>
            </general>
        </magestat_cookielawbanner>
    </default>
</config>
