<?xml version="1.0"?>
<!--
/**
* A Magento 2 module named Magestat/CookieLawBanner
* Copyright (C) 2018 Magestat
*
* This file included in Magestat/CookieLawBanner is licensed under OSL 3.0
*
* http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
* Please see LICENSE.txt for the full text of the OSL 3.0 license
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magestat" translate="label" sortOrder="900">
            <label>Magestat</label>
        </tab>
        <section id="magestat_cookielawbanner" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>magestat</tab>
            <label>Cookie Law Banner</label>
            <resource>Magestat_CookieLawBanner::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="message" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message</label>
                </field>
                <field id="info_message" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>More Information Link Text</label>
                </field>
                <field id="info_link" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>More Information Link URL</label>
                </field>
                <field id="accept_button" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Accept Button Text</label>
                </field>
            </group>
        </section>
    </system>
</config>
